<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.example.vulnweb.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileViewerServlet</servlet-name>
        <servlet-class>com.example.vulnweb.controller.FileViewerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentTypeBypassServlet</servlet-name>
        <servlet-class>com.example.vulnweb.controller.ContentTypeBypassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentTypeBypassServlet</servlet-name>
        <url-pattern>/content-type-upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContentInspectionBypassServlet</servlet-name>
        <servlet-class>com.example.vulnweb.controller.ContentInspectionBypassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentInspectionBypassServlet</servlet-name>
        <url-pattern>/content-inspection-bypass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileViewerServlet</servlet-name>
        <url-pattern>/read</url-pattern>
    </servlet-mapping>
</web-app>